 {% for type, messages in app.flashes %}
    {% for message in messages %}
        <div class="container mt-5">
            <div class="alert alert-{{ type }}">
                {{ message }}
            </div>
        </div>
    {% endfor %}
    
{% endfor %}