<footer class="footer mt-auto text-center py-3">
    <div class="container">
        <span class="text-muted">&copy; {{ "now"|date('Y') }} All rights reserved &middot; Made with &hearts; by Nicolas Filizzola</span>
    </div>
</footer>