{% extends 'base.html.twig' %}

{#{% block title %}Hello PinController!{% endblock %}#}

{% block body %}
    <h1>Edit Pin #{{ pin.id }}</h1>

    {{form_start(form)}}
        {{ form_widget(form) }}
        <button type="submit">Edit Pin</button>
    {{form_start(form)}}

{% endblock %}